<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="info.quatinus.cordova.plugin.installedApps"
        version="0.7.0">

  <name>InstalledApps</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/installedApps.js" target="js/installedApps.js"/>

  <js-module src="www/installedApps.js" name="installedApps">
    <clobbers target="installedApps" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="InstalledApps">
        <param name="android-package" value="info.quatinus.cordova.plugin.InstalledApps"/>
      </feature>
    </config-file>

    <source-file src="src/android/InstalledApps.java" target-dir="src/com/example/plugin/"/>
  </platform>

</plugin>